<ion-view title="Home">
	<ion-content padding="true">
		<ion-list>
			<ion-item>
				<div class="row">
					<div class="col"><strong>Nome</strong></div>
					<div class="col">{{userinfo.nome}}</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col"><strong>Matricola</strong></div>
					<div class="col">{{userinfo.matricola}}</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col"><strong>Corso di studio</strong></div>
					<div class="col">{{userinfo.corso_di_studio}}</div>
			</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col"><strong>Anno di corso</strong></div>
					<div class="col">{{userinfo.anno_di_corso}}</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col"><strong>Tipo di corso</strong></div>
					<div class="col">{{userinfo.tipo_di_corso}}</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col"><strong>Profilo studente</strong></div>
					<div class="col">{{userinfo.profilo_studente}}</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col"><strong>Data immatricolazione</strong></div>
					<div class="col">{{getDate(userinfo.data_immatricolazione)}}</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>