<ion-view title="Libretto">
<ion-content padding="true">
  <!-- <h3>Libretto</h3> -->
  <div class="card" ng-repeat="esame in esami">
	  <a class="item esame-{{esame.superato ? 'superato' : 'nosuperato'}}" ng-click="showModal(esame)">
	  	<div class="row">
	    	<div class="col">
	    		<b>{{esame.nome}}</b>
	    	</div>
	    	<div class="col col-20 voto voto-{{markClass(esame.voto)}}">
	    		<strong>{{esame.voto}}</strong>
	    	</div>
	    	<div class="col col-20">
	    		{{esame.crediti}} <span class="cfu">CFU</span>
	    	</div>
	  	</div>
	  </a>
  </div>
</ion-content>
</ion-view>