<ion-view title="Libretto">
<ion-content padding="true">
	<div class="card" ng-click="showModal(esame)" ng-repeat="esame in esami">

		<div class="item item-text-wrap">
			{{esame.nome}}
		</div>

		<div ng-show="esame.superato" class="item item-divider">
			<div class="row">
				<div class="col col-20">
					<span style="color:{{getColor(esame.voto)}}">{{esame.voto}}</span>
				</div>
				<div class="col col-data-esame normal-weight">
					<i class="icon ion-calendar"></i> {{formatDate(esame.data)}}
				</div>
				<div class="col col-20 col-align-right normal-weight">
					{{esame.crediti}} CFU
				</div>
			</div>
		</div>

	</div>
</ion-content>
</ion-view>