<ion-view title="Tasse">
	<ion-content padding="true">
		<div class="card card-tassa" ng-repeat="tassa in tasse | orderBy : 'codice_fattura' : true">
			<div class="item item-divider">
				Codice fattura: {{tassa.codice_fattura}}
			</div>
			<div class="item item-text-wrap">
				{{tassa.descrizione}}
			</div>
			<div class="item item-divider">
				<div class="row">
					<div class="col">
						{{tassa.importo.toFixed(2).replace('.',',')}} €
					</div>
					<div class="col">
						<span class="datascadenza">
							{{getDate(tassa.data_scadenza)}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>