<ion-view title="Home">
<ion-content padding="true">
  <h3>Home</h3>
  <p>
  	<div class="list">

	  <div class="item">
	  	<div class="row">
	  		<div class="col"><strong>Nome</strong></div>
	  		<div class="col">{{userinfo.nome}}</div>
	  	</div>
	  </div>
	  <div class="item">
	  	<div class="row">
	  		<div class="col"><strong>Matricola</strong></div>
	  		<div class="col">{{userinfo.matricola}}</div>
	  	</div>
	  </div>
	  <div class="item">
	  	<div class="row">
	  		<div class="col"><strong>Corso di studio</strong></div>
	  		<div class="col">{{userinfo.corso_di_studio}}</div>
	  	</div>
	  </div>
	  <div class="item">
	  	<div class="row">
	  		<div class="col"><strong>Anno di corso</strong></div>
	  		<div class="col">{{userinfo.anno_di_corso}}</div>
	  	</div>
	  </div>
	  <div class="item">
	  	<div class="row">
	  		<div class="col"><strong>Tipo di corso</strong></div>
	  		<div class="col">{{userinfo.tipo_di_corso}}</div>
	  	</div>
	  </div>
	  <div class="item">
	  	<div class="row">
	  		<div class="col"><strong>Profilo studente</strong></div>
	  		<div class="col">{{userinfo.profilo_studente}}</div>
	  	</div>
	  </div>
	  <div class="item">
	  	<div class="row">
	  		<div class="col"><strong>Data immatricolazione</strong></div>
	  		<div class="col">{{userinfo.data_immatricolazione}}</div>
	  	</div>
	  </div>
	</div>
  </p>
</ion-content>
</ion-view>