<ion-side-menus>

	<ion-side-menu-content edge-drag-threshold="30">
		<ion-nav-bar animation="no-animation" class="bar bar-header bar-dark">
		</ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button ng-hide="updater.hideIcon" class="button button-icon button-clear {{updater.refreshIcon}}" ng-click="updater.updateData()"></button>
		</ion-nav-buttons>
		<ion-nav-view animation="no-animation" name="menuContent"></ion-nav-view>
	</ion-side-menu-content> 

	<ion-side-menu side="left">
		<ion-header-bar class="bar-assertive"></ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item ui-sref="sections.home" class="item-icon-left" menu-close>
					<i class="icon ion-home"></i>
					Home
				</ion-item>
				<ion-item class="item-divider">
					Didattica
				</ion-item>
				<ion-item ui-sref="sections.libretto" class="item-icon-left" menu-close>
					<i class="icon ion-ios7-bookmarks"></i>
					Libretto
				</ion-item>
				<ion-item ui-sref="sections.appelli.disponibili" class="item-icon-left" menu-close>
					<i class="icon ion-calendar"></i>
					Appelli
				</ion-item>
				<ion-item class="item-divider">
					Amministrazione
				</ion-item>
				<ion-item ui-sref="sections.tasse" class="item-icon-left" menu-close>
					<i class="icon ion-cash"></i>
					Tasse
				</ion-item>
				<ion-item class="item-divider"></ion-item>
				<ion-item ui-sref="sections.settings" class="item-icon-left" menu-close>
					<i class="icon ion-gear-a"></i>
					Impostazioni
				</ion-item>
				<ion-item class="item-icon-left" ng-click="logout()" menu-close>
					<i class="icon ion-log-out"></i>
					Logout
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>